# Logs and Temporary Files
logs/
*.log
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
tmp/
pids/
results/

# OS Metadata
.DS_Store
Thumbs.db

# Dependency Directories
node_modules/
bower_components/
vendor/

# API Keys and Secrets
.env
*.env*

# Compiled Output
dist/
public/css/main.css

# Coverage Reports
coverage/

# Yarn and NPM Lock Files
yarn.lock
yarn-error.log
package-lock.json

# IDE and Editor Files
.idea/
*.iml
.vscode/

# Experimental and Database Files
experimental/**/*.db
dev.db

# Framework and Library Specific
.next/
.nuxt/
flow-typed/

# Temporary Resolvers
tmp-resolvers/

# Prisma Migrations
prisma/migrations/
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
